.vscode


# Ignore common executable files (without extension on Linux/macOS)
a.out
*.out
*.exe
*.o
*.obj

# Ignore executables without extension
bisection_regula_falsi
exercise1
exercise2
exercise2.1
exercise2.2
exercise3
exercise4
exercise5
exercise6
exercise7
exercise8
gaussian_pivoting
jacobi_gauss_relaxation
interpolation
least_square_regression
splines
example_linear_spline
trapeze_simpson